# Environment Variables
.env
*.env
backend/.env

# Go
backend/main
backend/main.exe
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/vendor/

# Frontend
frontend/node_modules/
frontend/dist/
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
